.header{
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
    /* background-color: black; */
    padding: 15px 40px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.header__left > img{
    object-fit: contain;
    width: 20vh;
    /* margin-left: 20px; */
}
